.layout {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	background: transparent;
	padding-top: var(--header-height);
	padding-bottom: var(--player-height);
}

.main {
	min-height: 0;
	padding: 2rem 0 2rem 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 1 1 100%;
	overflow-x: hidden;


}




@media (min-width: 900px) {
	.main > * {
		margin-left: auto;
		margin-right: auto;
	}
} 