/* .form дублюється у багатьох модулях і буде винесена у common.module.css */

.form {
	max-width: 350px;
	margin: 2rem auto;
	padding: 2rem;
	border-radius: var(--border-radius);
	border: 1px solid var(--color-primary);
	box-shadow: var(--shadow-sm);
	backdrop-filter: blur(8px);
	display: flex;
	flex-direction: column;
	gap: 1.05rem;
	align-items: center;
	justify-content: center;
}

.title {
	text-align: center;
	color: var(--color-primary);
	margin-bottom: 1rem;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

/* input, .button, .button:hover, .error дублюються у багатьох модулях і будуть винесені у common.module.css */

:root {
	--input-bg: var(--color-bg-light);
	--color-bg-light: #181818;
	--color-text: #f5f5f5;
	--color-primary: #7c4dff;
	--color-primary-hover: #651fff;
}
[data-theme="dark"] {
	--input-bg: #232323;
	--color-bg-light: #181818;
	--color-text: #f5f5f5;
	--color-primary: #7c4dff;
	--color-primary-hover: #651fff;
} 